<div class="container md-5">
 <h2>Lista de produtos</h2>
    <button class="btn btn-primary" (click)="criar()">Novo Produtos</button>
    <button class="btn btn-primary" (click)="carregarProdutos()">Carregar Produtos</button>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Status</th>
                </tr>
        </thead>
        <tbody>
                <tr *ngFor="let produto of produtos"> 
                    <td scope="col">{{produto.cod_produto}}</td>
                    <td scope="col">{{produto.des_produto}}</td>
                     <td scope="col">{{produto.sta_status}}</td> 
                </tr>
        </tbody>
    </table> 
</div>



  