<div class="container mt-5">
 <h2>Lista de produtos</h2>
    <button class="btn btn-primary" (click)="criar()">Novo Produtos</button>
    <button class="btn btn-primary" (click)="carregarProdutos()">Carregar Produtos</button>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                </tr>
        </thead>
        <tbody>
                <tr *ngFor="let produto of produtos"> 
                    <td scope="col">{{produto.id}}</td>
                    <td scope="col">{{produto.nome}}</td>
                    <td scope="col">
                        <button (click)="editar(produto.id!)">Editar</button>
                        <button (click)="deletar(produto.id!)">Excluir</button>
                    </td>    
                </tr>
        </tbody>
    </table> 
</div>



  